<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Izin Akses Internet untuk Firestore & Cloudinary -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_texlab"
        android:roundIcon="@drawable/logo_texlab"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TexLabInventory">

        <!-- 1. Halaman Login (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Halaman Dashboard (Menu Utama Grid Card) -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- 3. Halaman Katalog Inventaris (Diakses dari Dashboard) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 4. Halaman Detail Aset -->
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false" />

        <!-- 5. Halaman Form Tambah/Edit Laptop -->
        <activity
            android:name=".ui.AddLaptopActivity"
            android:exported="false" />

        <!-- 6. Halaman Siswa -->
        <activity
            android:name=".ui.SiswaActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>